/* FONT */
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/FontsFree-Net-SFProDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FontsFree-Net-SFProDisplay-Regular.svg#SFProDisplay') format('svg'); /* Legacy iOS */
}